version: '3.8'

services:
  firebase-emulators:
    image: andreysenov/firebase-tools:latest
    ports:
      - '4000:4000' # Emulator UI
      - '9099:9099' # Auth
      - '8080:8080' # Firestore
      - '5001:5001' # Functions
    volumes:
      - ./:/home/node/app
    working_dir: /home/node/app
    command: firebase emulators:start --project=metodo-activa-local --import=./data --export-on-exit=./data
    environment:
      - FIREBASE_TOKEN=${FIREBASE_TOKEN}
